<h1>Forget Your Password?</h1>
<% if (verifyText) { %>
<h3>A verification email has been sent to your email address.</h3>
<% } %>
<form action="/forgetPassword" method="post">
  <label for="username">Email Address</label>
  <br />
  <input type="email" name="email" placeholder="Email Address" required />
  <br /><br />

  <input type="submit" value="Reset Password" />
</form>
<a href="/">Back to Login</a>
