<h1>Reset Your Password?</h1>
<% if (passwordNotMatch) { %>
<h3>Passwords entered do not match. Please enter again.</h3>
<% } %>
<form action="/resetPassword?token=<%= token %>" method="post">
  <label for="password1">Enter Your New Password</label>
  <br />
  <input type="password" name="password1" placeholder="Your New Password" />
  <br />
  <label for="password2">Enter Your New Password Again</label>
  <br />
  <input
    type="password"
    name="password2"
    placeholder="Confirm Your New Password"
  />
  <br />
  <input type="submit" value="Reset Password" />
</form>
